.nav-bar {
    background-color: #FFFFFF;
    padding: 5px;
    box-shadow: 0 2px 2px #DDDDDD;
}

.nav-bar > .links {
    list-style: none;
    float: right;
}

.nav-bar > .links > li {
    display: inline-block;
}

.nav-bar > .links > li > a {
    padding: 10px;
}

.nav-bar > .links > li > a:hover {
    background-color: #CDCDCD;
}